Act/9-Programando Regresion Lineal en Python/VirtualEnv
Act/10-Programando Regresion Lineal Multiple en Python/VirtualEnv
Act/11-Programando Regresión Logística en Python/VirtualEnv
Act/12-Programando Arbol de Decision en Python/VirtualEnv
Act/13-Programando Random Forest en Python/VirtualEnv
Act/14-Programando K-Nearest-Neighbor/VirtualEnv
Act/14-Programando Random Forest en Python/creditcard.csv